@use '../abstracts/colors';
@use '../abstracts/typography.scss';
@use '../abstracts/mixins';

.jhead {
  font-size: 2rem;
  @include mixins.screen("mobile") {
    font-size: 1rem;
  }
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: colors.$bgOpacClr;
}

.aboutMe {
  // background: colors.$bgOpacClr;
  position: relative;
  height: 100%;
  width: 100%;
}
.abt {
  width: 450px;
  height: 450px;
  background: colors.$jungleG;
  margin-top: 50px;
  padding: 3em;
  color: colors.$white;
  justify-self: center;
  & p {
    margin: 0;
  }
  & h2 {
    // text-align: center;
    margin: 5px;
    padding: 5px;
  }
}

#abtH2 {
  color: colors.$bBlue;
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.smIcons {
  margin: 0.5em;
  padding-top: 4em;
  & img {
    height: 3.25em;
    &:hover {
      box-shadow: 0 0 3px chartreuse;
    }
  }
}
