@use '../abstracts/colors';
@use '../abstracts/typography.scss';
@use '../abstracts/mixins';

nav {
  margin: 0;
  height: 10vh;
  background-color: colors.$bgClr;
}
#navigation {
  position: sticky;
  height: 10vh;
}
.menuItems {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 50%;
  height: 100%; /// ----> to make full height of nav element//
  // background-color: red;
  justify-content: space-evenly;
  align-items: center;
  margin-left: auto;
  & li a {
    color: colors.$white;
    text-decoration: none;
    font-size: 1rem;
  }
}
@include mixins.screen("mobile") {
  .line {
    position: absolute;
    width: 30px;
    height: 3px;
    background: white;
    z-index: 4;
    margin: 5px;
    border-radius: 20%;
    transition: all cubic-bezier(0.5, 0.1, 1, 1) 0.25s;
  }
  .top {
    top: 25%;
  }
  .middle {
    top: 50%;
  }
  .bottom {
    top: 75%;
  }
  .icon.close .top {
    transform: rotate(45deg);
    top: 30%;
  }
  .icon.close .middle,
  .icon.close .bottom {
    transform: rotate(-45deg);
    top: 30%;
  }
  nav {
    position: relative;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 50%;
    // margin-right: auto;
    // margin-top: 5px;
    transform: translate(-5%, -50%);
    padding: 5px;
    height: 3rem;
    width: 5rem;
    display: grid;
    justify-content: center;
    justify-items: center;
    z-index: 2;
  }
  .menuItems {
    position: relative;
    pointer-events: none;
    // display: none; -->used for viewing the burger before commenting it out
    height: 100vh;
    width: 100%;
    background-color: colors.$bgOpacClr;
    flex-direction: column;
    clip-path: circle(100px at 90% -20%);
    -webkit-clip-path: circle(100px at 90% -20%);
    transition: all 1s ease-in-out;
    transition-delay: 0.2s;
  }
  .menuItems.open {
    clip-path: circle(300% at 90% -10%);
    -webkit-clip-path: circle(300% at 90% -10%);
    pointer-events: all;
  }
}
