@use "../abstracts/colors";
@use "../abstracts/typography.scss";
@use "../abstracts/mixins";

#projects {
  background: colors.$bgOpacClr;
  position: relative;
  width: 100%;
  position: relative;
  width: 100%;
  font-size: 1.45em;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.pjHead {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vmax;
  font-size: 2rem;
  @include mixins.screen("mobile") {
    font-size: 1rem;
  }
  margin: 5em;
  //add mixins mediaqueries to adjust
}
