$white: #ffffffbe;
// $black: rgb(0, 0, 0);
$mainClr: #00b898;
$bgClr: hsl(0, 0%, 3%);
$bgOpacClr: hsla(0, 0%, 0%, 0.71);
$navClr: hsl(0, 3%, 13%);

// palatte generated
$black: #000000;
$litePrim: #00b898;
$drkrPrim: #115c4f;
$jungleG: #12211f;
$bBlue: #9bdede;
$txtClr: #ffffffbe;
$timeEv: hsl(180, 35%, 65%);
